<%- include('header') -%>
<title>Contact | B Bank Ltd.</title>

</head>
<body>

	<img id="logo" src="/static/assets/logo.png">

		<div  class="text-center center-div" id="login">
		    <div class="container w-50 py-5 mt-5 main">
						<div class="title pb-5">
		            <h2 class="font-weight-bold">Contact</h2>
		        </div>
            <div class="title pb-5">
		            <h4>For any query call us</h4>
		        </div>

            <h6>+017 111 11111</h6>
            <h6>+018 111 11111</h6>
            <h4>Email</h4>
            <h6>info@bbankltd.com</h6>
            <h4>Location</h4>
            <h6>6/B, Ashulia Model Town</h6>

            <div class="map-full">
            <iframe class="googleMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14594.434046815844!2d90.30683562266202!3d23.868031604960667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c1f7ed5f4193%3A0x8159af0d71ff7374!2sEastern%20University!5e0!3m2!1sen!2sbd!4v1633373209926!5m2!1sen!2sbd" width="600" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
		        <p id="selectBottom"><a href="/dashboard">Dashboard</a></p>
		        <p id="selectBottom" class="abc"><a href="/logout">Logout</a></p>



<%- include('footer') -%>
