<%- include('header') -%>

<title>Dashboard | B Bank Ltd.</title>

</head>
<body>
<img id="logo" src="/static/assets/logo.png">

<div  class="text-center center-div" id="login">
    <div class="container w-50 py-5 mt-5 main">
        <div class="title pb-5">
            <h2 class="font-weight-bold">Welcome to B Bank Ltd.</h2>
        </div>
        <div class="title pb-5">
            <h3><%= username %> </h3>
        </div>

        <a href="/balance""><h6>Account Balance Check</h6></a>
        <a href="/withdraw"><h6>Withdraw Amount</h6></a>
        <a href="/deposit"><h6>Deposit Amount</h6></a>
        <a href="/profile"><h6>Customer Information</h6></a>
        <a href="/contact"><h6>Contact Us.</h6></a>
        <a href="/logout">Logout</a>



<%- include('footer') -%>
